@import "../../styles/general.less";
.insight-actions
{
 padding-right: 0 !important;
  
}
.chart{
    
    .title{
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-align: right;
    }
    .description
    {
        color: white;
        font-size: 15px;
        text-align: right;
        margin-bottom: 30px;
        direction: rtl;
    }
    .footer{
        color:@lightGray;
        text-align: right;
        font-size: 15px;
        margin-top: 15px;
       
    }
    .four-digit-card-footer{
        font-weight: bold;
    }
    .card-icon{
        background-image: url(/src/images/Card.png);
        background-size: 55px;
        min-height: 60px;
        background-repeat: no-repeat;
        background-position: left 20px;
    }
   
}
.container-fluid{
    margin-bottom: 35px;   
    padding-left: 0px;
    padding-right: 0px;
   
    .column-dept-container{
 
        
        .value-container{
            height: 220px;     
            direction: rtl;            
            margin: 0 auto;
         
            .symbol{
                font-size: 20px;
            }
            .value{
                width: 60px;
                text-align: center;
                font-size: 13px;         
                display: block;
                position: absolute;   
                padding-left: 5px;
                padding-right: 5px;
            }
            .value-blue{
                border: 2px solid @blue;;
                background-color: @darkBlue;
                color:@lightGray;
                border-radius: 10px;
                padding-bottom: 5px;
                font-weight: bold;
                left: 4px;
               // right: 0;
                margin: auto;
               // margin-right: 7px;
                width: 95%;
            }
            .value-green{
                border: 2px solid @green;
                background-color: @green;
                color:@darkBlue;
                border-radius: 10px;
                padding-bottom: 5px;
                font-weight: bold;
                left: 4px;
                //right: 0;
                margin: auto;
               // margin-right: 7px;
                width: 95%;
            }
        }
        
        .bar{
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;     
            Width: 20px;    
            max-height: 200px;
            margin-right: 20px;
            bottom: 25px;
            display: block;
            position: absolute;

        //  position: absolute;
         // bottom:0;
    
        }
        .date{
        
           display: block;
           position: absolute;
           bottom: 0;
           width: 60px;
           text-align: center;    
        }
        .color-blue{
            background-color: @blue;     
            left: 0;
            right: 0;
            margin: auto;
          //  margin-left: 15px;      
         
         
        }
        .color-green{
            background-color: @green;   
            left: 0;
            right: 0;
            margin: auto;
            
           // margin-left: 15px;
        }
        .text-blue{
            color:@blue;
            font-weight: bold;
            margin: auto;
            left: 0;
            right: 0;
        }
        .text-green{
            color:@green;
            font-weight: bold;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
}

