@import "../../styles/general.less";

.last-payment-container{
 
  //  padding-right: 0 !important;

 
.insight-actions
{
 padding-right: 0 !important;
  
}

text-align: center;
    .deal-header-details{
        font-size: 12px;
    }
    .payments-container
    {
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: right;
        .deal-total-title{
            
            border-left: 2px solid @lightGray;
            color:@lastPaymentDetailsTitle;
        }
        .deal-lastpayment-sum-title{
            
            border-left: 2px solid @lightGray;
            color:@lastPaymentDetailsTitle;
        }
        .deal-num-of-payments-title{
            color:@lastPaymentDetailsTitle;
           
        }
        .deal-total{
            
            border-left: 2px solid #EDEDED
        }
        .deal-lastpayment-sum{
            
            border-left: 2px solid #EDEDED
        }
        .deal-num-of-payments{
           
        }
       
    }
  
   
    .details-button{
  
        background-color: white;       
        color:@veryDarkBlue;
        z-index: 100;
        bottom: -18px;
        border:1px solid @green;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;     
        width: 150px;      
        padding-right: 35px;
        height: 40px;
       
        
        .plus{
        //    color:@green;
       // font-weight: bold;        
       // font-size: 15px;
       background-image: url("/src/images/plus_green.svg");  
       background-size: 30px;
       background-repeat: no-repeat;        
       background-position: left 10px;
        }
      }
      .details-button-plus{
  
        font-weight: bold;
        padding: 5px 5px 5px 5px;
        color:@green;

      }


   
.blue-header-container{
   
    margin:auto;
    .blue-header{
        background-color: @veryDarkBlue;
        min-width: 145px;
        height: 35px;
        text-align: center;
        color:white;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: auto;
        padding-top: 5px;
        font-weight: bold;
        margin-top: 10px;
        direction: rtl;
    }
}
    
    .title{
        color:@veryDarkBlue;
        font-weight: bold;
        font-size: 18px;
        margin-top: 60px;
    }
    .description{
        margin-bottom: 10px;
    }
}


