<div class="container last-payment-container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 date">
          <app-insight-date [insight]=insight></app-insight-date>                    
      </div>
</div>
<div class="row">
  <div class="blue-header-container">
    <div class="blue-header col-12">{{insightTemplates.Title}}</div>
  </div>
</div>
<div class="row">
<div class="col-12 title">{{insightTemplates.Description}}</div>
</div>
<div class="row">
  <div class="col-12 description">בית העסק: {{insight.MerchantName}}</div>
</div>

<div class="row">
  <div class="col-12 deal-header-details">
      פרטי העסקה שבוצעה בכרטיס {{insight.CardLast4Digits}}  
  </div>
</div>
<div class="row">
<div class="col-12">
  <hr>
</div>
</div>
<div class="row">
  <div class="col-12 payments-container">

    <div class="col-4 float-right deal-total-title" >סכום העסקה</div>
    <div class="col-4 float-right deal-lastpayment-sum-title" >סכום התשלום</div>
    <div class="col-4 float-right deal-num-of-payments-title" >כמות תשלומים</div>
   
    <div class="col-4 float-right deal-total" >
        {{ insight.TotalSumNis | currency:getResourcesService.getSymbol(insight.CurrancyCode):"symbol-narrow" }}
    </div>
    <div class="col-4 float-right deal-lastpayment-sum" >
        {{ insight.TransactionSum | currency:getResourcesService.getSymbol(insight.CurrancyCode):"symbol-narrow" }}
    </div>
    <div class="col-4 float-right deal-num-of-payments" >
      <span class="float-right">{{insight.CurrentInstallmentNum}}</span>
      <span class="float-right" style="margin-left: 3px;margin-right: 3px;">מתוך</span>
      <span class="float-right">{{insight.TotalInstallmentsNum}}</span>
    </div>

  </div>
</div>


<div class="row" >
  <div class="col-12 insight-actions" >
     <app-insight-feedback [insight]=insight></app-insight-feedback>     
  </div>   
</div>    
</div>