@import "../../styles/general.less";

.container-fluid{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.base
{
    background-size: cover;
    background-repeat: no-repeat;
    
    //background-position: center center;
}
.did-you-know{
    background-image: url("/src/images/DidyouknowSML.png");  
    border-radius: 10px;
    min-height: 0px !important;    
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0);
    margin-top:35px;
}
.chart-background{
  
    background-image: url("/src/images/BlueLRg1.png");
    border-radius: 10px;
    min-height: 0px !important;
   
}
.last-payment-background{
  
    background-image: url("/src/images/confetti.png");
    border-radius: 10px;
    min-height: 0px !important;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: contain;

}
.iregular-insight{
    background-image: url("/src/images/backgroundGray.png");
    border-radius: 10px;
    min-height: 0px !important;
}

