<div class="container-fluid" style="margin-bottom: 40px;margin-top: 20px;">

    <div *ngIf="displayInsight(4)" class="row">
        <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12 last-payment-background  base">
            <app-last-payment [insight]=insight [insightTemplates]=displayTemplate></app-last-payment>
        </div>
        <div *ngIf="displayDidUKnow(4) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>


    <div *ngIf="displayInsight(5)" class="row">
        <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12 iregular-insight  base">
            <app-new-direct-debit [insight]=insight [insightTemplates]=displayTemplate></app-new-direct-debit>
        </div>
        <div *ngIf="displayDidUKnow(5) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>

    <div *ngIf="displayInsight(2)" class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 iregular-insight  base">
            <app-refund [insight]=insight [insightTemplates]=displayTemplate></app-refund>
        </div>
        <div *ngIf="displayDidUKnow(2) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [MyDidYouKnow]=MyDidYouKnow [insight]=insight></app-did-you-know>
        </div>
        
    </div>

    <div *ngIf="displayInsight(3)" class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 iregular-insight  base">
            <app-get-cash-foreign-currency [insight]=insight [insightTemplates]=displayTemplate></app-get-cash-foreign-currency>
        </div>
        <div *ngIf="displayDidUKnow(3) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>


    <div *ngIf="displayInsight(1)" class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 chart-background  base">
            <app-chart [insight]=insight [insightTemplates]=displayTemplate></app-chart>
        </div>
        <div *ngIf="displayDidUKnow(1) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>

    <div *ngIf="displayInsight(7)" class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 chart-background  base">
            <app-chart-without-digits [insight]=insight [insightTemplates]=displayTemplate></app-chart-without-digits>
        </div>
        <div *ngIf="displayDidUKnow(7) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>


    <div *ngIf="displayInsight(6)" class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 iregular-insight  base">
            <app-charges-foreign-currency [insight]=insight [insightTemplates]=displayTemplate></app-charges-foreign-currency>
        </div>
        <div *ngIf="displayDidUKnow(6) && isDisplay" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 did-you-know base">
            <app-did-you-know [insight]=insight [MyDidYouKnow]=MyDidYouKnow></app-did-you-know>
        </div>
    </div>


</div>