
<div class="like-unlike  float-right" >
    <div [ngClass]="changeFeedbackStyle == 2 ? 'gray' : changeFeedbackStyle == 1 ? 'regular':''" class="unlike  float-left" (click)="setFeedback(2)" ></div>
    <div [ngClass]="changeFeedbackStyle == 1 ? 'green' : changeFeedbackStyle == 2 ? 'regular':''" class="like  float-right" (click)="setFeedback(1)"></div>                      
</div>
