@import "../../styles/general.less";

.like-unlike{      
    z-index: 100;
    bottom: -18px;     
    height: 40px;
    position: relative;
  
  .like{
    background-color: white;             
    border-radius: 50%;
    border:1px solid @gray;
    height: 40px;
    width: 40px;    
    max-width: 100% !important;    
    background-image: url("/src/images/like.svg");  
    background-repeat: no-repeat;
    background-position: center;      
    background-size: 20px;
   

  }
  .unlike{
    background-color: white;             
    border-radius: 50%;
    border:1px solid @gray;
    height: 40px;
    width: 40px;    
    max-width: 100% !important;    
    background-image: url("/src/images/Unlike.svg");  
    background-repeat: no-repeat;
    background-position: center;      
    background-size: 20px;
    margin-right: 10px;
   
  }
  .green{
    background-color: @green;    
  }
  .gray
  {
    background-color: #D2D3E0;
  }
  .resular{
    background-color: white;             
  }
}