<div class="container-fluid new-direct-debit" >
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <app-insight-date [insight]=insight></app-insight-date>                    
        </div>
</div>

 <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title">{{insightTemplates.Title}}</div>
 </div>
 <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 description">{{insightTemplates.Description}}{{insight.CardLast4Digits}}</div>     
 </div>
 <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 sum">
        <div class="sum-title">
            סכום החיוב
          </div>
      <div class="currency">
          {{ insight.TransactionSum | currency:getResourcesService.getSymbol(insight.CurrancyCode):"symbol-narrow" }}
      </div>    
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 business-name-container">
      <div class="col-12 name">בית העסק</div>
      <div class="col-12 value">{{insight.MerchantName}}</div>
    </div>     
 </div>
 
<div class="row">
    <div class="col-12 insight-actions">
       <app-insight-feedback [insight]=insight></app-insight-feedback>           
    </div>   
  </div>   
 
</div>