@import "../../styles/general.less";

.new-direct-debit{
    padding-right: 0;
    padding-left: 0;

   .date{
     color:@lightGray;
   }
   .title{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    font-family: @fontName;

   }
   .description{
       direction: rtl;
       margin-bottom: 5px;

   }
   .sum
   {
       
       background-color: @darkBlue;
       color:white;
       font-weight: bold;
       border-bottom-right-radius: 30px;
       border-top-right-radius: 30px;
       text-align: center;     
      
   }
   .currency{
       font-size: 20px;
   }
   .business-name-container{
       text-align: right;
       padding-right: 0px;
       padding-top: 5px;
    
       .name{
           color:@gray;
       }
       .value{}
   }
}