<div *ngIf="displayModal" class="insight-custom-modal">
  <div class="row">
    <div class="modal-close col-2" (click)="removeModal()">X</div>
    <div class="col-10 modal-title">{{insightTitle}}</div>
  </div>

<div class="col-12" style="overflow: auto;height: 100%;">


  <div *ngFor="let item of modalInsightDetails">

    <div class="row card-digits">
      <div class="col-3 col-sm-4 col-md-4	col-lg-4 col-xl-4 card-icon-total">
        {{ item.total | currency:getResourcesService.getSymbol(firstCurrencyCode):"symbol-narrow" }}
      </div>
      <div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6 card-icon-title">פירוט עבור הכרטיס: {{item.CardLast4Digits}}</div>
      <div class="col-2 col-sm-2 col-md-2	col-lg-2 col-xl-2 card-icon"></div>
    </div>

    <div class="row">
      <div class="col-3 table-title">סכום</div>
      <div class="col-6 table-title">שם בית העסק</div>
      <div class="col-3 table-title">תאריך</div>
    </div>
    <div><hr class="table-header"></div>
    <div class="container-fluid"  *ngFor="let details of item.InsightDetails; let index=index;">
      <div class="row">
        <div class="col-12" [ngClass]="index%2==0?'even':'odd'">
          <div class="col-3 table-value float-right " style="padding-left:3px;padding-right:3px;"> {{ details.TransactionDate }}</div>
          <div class="col-6 table-value float-right"> {{ details.MerchantName }}</div>
          <div class="col-3 table-value float-right " style="padding-left:3px;padding-right:3px;">
            {{ details.TransactionSum | currency:getResourcesService.getSymbol(details.CurrancyCode):"symbol-narrow" }}
          </div>
        </div>
      </div>
      <div><hr></div>

    </div>

  </div>

</div>

</div>