@import "../../styles/general.less";

.insight-custom-modal{
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    .container-fluid
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .modal-title{
        margin: auto;
        text-align: center;
        padding-right: 70px;
        font-size: 1.1em;
        direction: rtl;
    }
    .modal-close{
        background-color: white;
            color: black;
    height: 50px;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    }
    .table-title
    {
        color:#005D86;
        text-align: right;
        font-size: 0.85em;
        margin-bottom: 5px;
        text-align: center;
        margin-top: 5px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .table-value
    {
        color:#04294F;
        text-align: right;
        font-size: 0.85em;
       // margin-bottom: 5px;
        text-align: center;
       // margin-top: 5px;

    }
    .card-digits
    {
        background-color: #04294F;
        color:white;
        height: 45px;
    }
    .odd
    {
        background-color: white;        
        word-break: break-all;
       
    }
    .even
    {
        background-color: white;          
        word-break: break-all;
       
    }
    .tbl-border-left{
        
        border-left: 2px solid #DCDDDF;
        min-height: 35px;
     
    }
    .tbl-border-right{
        
        border-right: 2px solid #DCDDDF;
        min-height: 35px;
    }
    .table-header
    {
     margin-top: 0px !important;
    }
    .card-icon{
        background-image: url(/src/images/Card.png);
        background-size: 45px;     
        background-repeat: no-repeat;      
      top: 7px;
     
    }
    hr {
        color: #ededee;
        background-color: #ededee;  
    }
    .card-icon-title
    {
        margin: auto;
        text-align: right;
        font-size: 0.95em;
    }
    .card-icon-total
    {
        margin: auto;
        text-align: right;
        border-right: 2px solid #0072AF;
    }
    
}

