<div class="container-fluid chart-without-digits">   
  <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <app-insight-date [insight]=insight></app-insight-date>                    
          </div>
  </div>
  <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title">{{insightTemplates.Title}}</div>
  </div>
  <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 description"></div>
  </div>
  <div class="row" style="padding-left: 5px;padding-right: 5px;">            
        
              <div *ngFor="let col of columns" class="column-dept-container col-3">                               
                      <div class="value-container">
                          <div class="value" [ngClass]="col.isBlue  ? 'value-blue' : 'value-green'"  
                          [ngStyle]="{'bottom': calcDivHeight(col.height)}">
                          {{col.value | currency:getResourcesService.getSymbol(col.currencyCode):"symbol-narrow" }}       
                      </div>
                          <div class="bar" [ngClass]="col.isBlue  ? 'color-blue' : 'color-green'" [ngStyle]="{'height': col.height + 'px'}"></div>
                          <div class="date" [ngClass]="col.isBlue  ? 'text-blue' : 'text-green'"  >{{col.displayDate}}</div>
                      </div>                    
              </div>     
         
  </div>
  <div class="row">        
          <div class="col-9 col-sm-9 col-md-9	col-lg-9 col-xl-9 footer">
            <span class="four-digit-card-footer"></span>{{insightTemplates.Description}}</div>
          <div class="col-3 col-sm-3 col-md-3	col-lg-3 col-xl-3 card-icon">
                  
          </div>
  </div>

  <div>
              <div class="col-12 insight-actions" >
                   <app-insight-feedback [insight]=insight></app-insight-feedback>                            
              </div>
  </div>
</div>