@import "../../styles/general.less";

.wrapper{
   
    width: 100%;    
    padding-bottom: 10px;      
    padding-right: 0 !important;
    padding-left:  0 !important;   

    .message-title{
      
        text-align: right;
        color:gray;   
      
    }
    .message{
      
        text-align: right;
        color:black;  
        font-size:15px;
    }
    .light{
        background-image: url("/src/images/Light.svg");  
        background-size: 30px;
        background-repeat: no-repeat;        
        background-position: left 10px;
    }

}
