<div class="wrapper container" >
  <div class="row">
      <div class="col-10">
        <div class="col-12 message-title">{{randomStatement.Title}}</div>
        <div class="col-12 message">{{randomStatement.Description}}</div>
      </div>
    <div class="col-2 light"></div>   
  </div>
</div>
