<div class="container-fluid">
  <div *ngIf="_insightService.displayRequestSpinner" class="loading">Loading&#8230;</div>
  <div class="row" *ngIf="insights.length">
    <div class="header-title-container col-12">
      <div class="col-12" style="text-align:center;margin-top:10px;">
        <img style="width:30px;" src="/src/images/Light.svg">
      </div>
      <div class="col-12">
        <div class="user-title">היי {{user}},</div>
        <div class="user-sub-title"> הנה כמה עדכונים שחשבנו שיעניינו אותך:</div>
      </div>
    </div>
    <div class="insight-container col-12">
      <div *ngFor="let insight of insights let i = index" class="col-12 col-sm-12	col-md-12 col-lg-12 col-xl-12 insight">
        <app-data-grid [insight]=insight></app-data-grid>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!insights.length && spinnerInsight" class="no-insights">
    <div class="col-12">
      <img src="../src/images/blue-truck.gif">
    </div>
    <div class="col-12">
      התובנות שלך בדרך אליך...
    </div>
  </div>
  <div class="row" *ngIf="!insights.length && !spinnerInsight" class="no-insights">
    <div class="col-12">
      <img src="../src/images/LIghtBackground.svg">
    </div>
    <div class="row no-insight-found">
      <div class="col-12">
        אין כרגע עדכונים חדשים.
      </div>
      <div class="col-12">
        ברגע שיהיו - אנו נעדכן אותך כאן
      </div>
    </div>
  </div>
</div>