@import "../../styles/general.less";

.container-fluid{
 
  //font-family: Arial !important;
  font-family: 'Open Sans', sans-serif !important;

.no-insight-found{
  color:#CCCCCC;
}
    .insight-container{
        margin-top: 115px;

        .insight{
          //  margin-bottom: 40px;
        }
    }
    .header{
        color:white;
        background-color: gray;
        text-align: center;
        height: 50px;
        font-size: 30px;
    }
    .header-title-container{

        margin-bottom: 10px;       
        padding-bottom: 10px;
     //   padding-top: 10px;
        direction: rtl;
        font-size: 20px;
        font-weight: bold;
        color:white;
        background-color:@headerNameBlue;
        height: 200px;
        position: absolute;
        
        .user-title
        {
          font-size: 20px;
          text-align: center;         
        }
       .user-sub-title{
        font-size: 18px;
        text-align: center;  
        font-weight: normal;    
       }

    }
    .no-insights{
      direction: rtl;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
       img{
         height: 100px;
         margin-top:100px;
       }
    }
   
}