
@import "../../styles/general.less";
.insight-date{
    text-align: left;
    padding-top: 3px;
    .col-12
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .date-icon-container
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: left;
    
        .date-icon{      
             width:20px;   
             filter: invert(0.5) sepia(1) saturate(1) hue-rotate(175deg);          
           }
    }
    
    .date{
        color:#879EBD;
        padding-left: 5px !important;
        padding-right: 0 !important;
        float: right;
        padding-top: 3px;
    }
}
