<div class="container-fluid insight-date">
  <div class="row">
      <div class="col-12" >
          <div class="col-1 date-icon-container" >
            <img class="date-icon" src="/src/images/clock-circular-outline.svg">          
          </div>
          <div class="date col-11" >{{insight.InsertDate}}</div>
      </div>
  </div>
</div>