@import "../../styles/general.less";

.charges-foreign-currency{
    padding-right: 0;
    padding-left: 0;

.date-container{
    text-align: right;

    .date-title{
        color:@gray;
    }
    .date-value-from{
        margin-left: 3px;
    }
    .date-value-to{
        margin-right: 3px;
    }
}

   .date{
     color:@lightGray;
   }
   .title{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    font-family: @fontName;
   }
   .description{
       direction: rtl;
        margin-bottom: 5px;
   }
   .sum
   {
       background-color: @darkBlue;
       color:white;
       font-weight: bold;
       border-bottom-right-radius: 30px;
       border-top-right-radius: 30px;
       text-align: center;
     
   }
   .currency{
       font-size: 20px;
   }
}


.details-button{
  
    background-color: white;       
    color:@veryDarkBlue;
    z-index: 100;
    bottom: -18px;
    border:1px solid @green;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;     
    width: 150px;      
    padding-right: 40px;
    height: 40px;
   font-size: 16px;
   
    
    .plus{
        background-image: url("/src/images/plus_green.svg");  
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: left 5px;
        height: 50px;
        width: 50px;
    }
  }
  .details-button-plus{
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    color:@green;

  }
  

  

