<div class="container-fluid charges-foreign-currency">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <app-insight-date [insight]=insight></app-insight-date>
    </div>
    
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title">{{insightTemplates.Title}}</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 description">{{insightTemplates.Description}}</div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 sum">
      <div class="sum-title">
        סה''כ
      </div>
      <div class="currency">
        {{insight.TotalSumNis | currency:getResourcesService.getSymbol(insight.CurrancyCode):"symbol-narrow" }}
      </div>
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 date-container">
      <div class="date-title">בחודש: {{insightService.getCashMonth(insight)}}</div>
    </div>
   
  </div>
  <div class="row">
    <div class="col-12 insight-actions">
      <app-insight-feedback [insight]=insight></app-insight-feedback>
      <div class="details-button col-6 float-left" (click)="showModal();" *ngIf="insight.InsightDetails">
        <div class="col-4 float-right" style="margin-right:20px;">לפרטים</div>
        <div class="col-2 float-left plus"></div>
      </div>
    </div>
    <div class="col-12">
      <app-modal-content [insightTitle]="insightTemplates.Title" [(displayModal)]="displayModal" [insightDetails]="insight.InsightDetails"></app-modal-content>
    </div>

  </div>

</div>